@font-face {
  font-family: "ReadyActive";
  src: url("../fonts/ReadyActive-Light.otf");
}
@font-face {
  font-family: "ReadyClouded";
  src: url("../fonts/ReadyClouded-Light.otf");
}
@font-face {
  font-family: "PetitFrere";
  src: url("../fonts/PetitFrereWide-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "PetitFrere";
  src: url("../fonts/PetitFrereWide-Black.otf");
  font-weight: bold;
}

body{
  background:#8f51ec;
  color:#ebdcff;
  padding:3em 5em 5em 5em;
  font-family: "PetitFrere";
  font-size: 1em;
}
h1{
  font-family: "ReadyActive";
  font-weight: normal;
  font-size: 5em;
  margin: 0 0 .2em -.1em;
  padding: 0;
  line-height: 1;
  color:#de9aed;
}
.entree-intro{

}
h2{
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.boutton-book, .espace-editorial{
  color:#ebdcff;
  border:1px solid #ebdcff;
  font-weight: normal;
  padding: .7em .6em .4em .6em;
  position: relative;
  bottom:.2em;
  text-transform: uppercase;
  font-size: .8rem;
}

.boutton-book:hover, .espace-editorial:hover{
  background:#ebdcff;
  color:#8f51ec;
}
.espace-editorial{
  position:fixed;
  right:4em;
  bottom:3em;
  padding: .7em .6em .4em .6em;
}
.bookList{
  line-height: 2.5;
}
p{
  max-width: 70em;
 margin: 0;
  padding: 0;
}
p+p{
  text-indent: 1em;
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}
ol{
  margin:0em;
  padding-left:1.8em;
  max-width: 70em;
}
.entree-section, .bookList{
  margin-bottom: 4em;
}
.entree-section+.entree-section{
  margin-top: -2em;
}
a{
  color:#de9aed;
}
a:hover{
  color:#d7b8dd;
}
